DATABASE_URI="sqlite:///database.db"
SECRET_KEY="YouShouldChangeThisSecretKeyToSomethingLongAndRandom"
ENV="development"
AI_API_KEY=""
AI_BASE_URL=""
MODEL_NAME=""
CHROMADB_API_KEY=""
CHROMADB_TENANT=""
CHROMADB_DATABASE=""